/*Helvetica*/
/*font-family: 'Helvetica', sans-serif;*/
/* @font-face {
  font-family: 'Helvetica';
  font-weight: 700;
  font-style: normal;
  src: local('Helvetica Bold'), local('HelveticaB'),
    url('../assets/HelveticaFont/HelveticaBold.ttf?#iefix') format('truetype');
}
@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  src: local('Helvetica Regular'), local('HelveticaR'),
    url('../assets/HelveticaFont/Helvetica.ttf?#iefix') format('truetype');
} */
